/*==== RESET =====================================*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* 
  Reseto a margin e o padding de todas as caixas/elementos da pagina deixando em 0px alem de mudar o comportamento da propriedade "box-sizing" declarando seu valor igual "border-box"!
  */
}
a {
  text-decoration: none; /*Propriedade da decoração do textos. Em todos os elementos <a> as decorações dos textos foram retiradas devido a declaração do valor "none". */
}

ul {
  list-style: none;
}

img {
  width: 100%; /*vai se adptar a width da caixa pai*/
  height: auto; /*faz com que a imagem se adaptar ao tamnho da caixa/tag*/
}

/*==== VARIAVEIS =====================================*/
:root {
  --header-height: 4.5rem; /*autura do #header */
  --hue: 159;

  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  font-size: 100%;
  /*
  Os 100% do font-size é 16px. esses 16 px é o que o navegador definiu como padrão para ele!
  */

  /*
  então esse valor do fonte size será utilzado como referencia para os tamanhos de heigt, marging, padding entre outras pripriedades no CSS. O calculo para utilizar o valor do :root como referencia sera: medida da pagina (MP) em px dividido por 16px: 
            MP/16px = Xrem 
  As "MP" são baseados no projeto disponivel no figma: 
    https://www.figma.com/file/NtSPxDA383aacOkF0GwfsC/Origin-Six-(Community)?node-id=0%3A1
  */

  /*Fonts*/
  --title-font-size: 1.875rem;
  --subtitle-font-size:1rem;

  --title-font:'Poppins', sans-serif;
  --body-font:400 1rem 'DM Sans', sans-serif;
}

/*==== BASE =====================================*/
html {
  scroll-behavior: smooth; /*serve para a transição da navegação localizada na caixa <nav>*/
}

body {
  font: var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased; /**/
  /* peso, "familia", sans-serif*/
  /*Utilizando as fonts do google*/
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: antialiased; /**/
  /*utilizando fontes do google*/
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s; /*muda a cor do background em 0.3s*/
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*==== LAYOUT =====================================*/
.container {
  margin-left: 1.5rem; /* 24px/ 16px = 1.5rem*/
  margin-right: 1.5rem;

  /*A classe .container sera utilizada para padronizar as medidas referente as margin dos conteudos que senencontran nos section inseridos na caixa main" como está no projeto do fingma.
  OBS: todas as Caixas/tags filhas herdaram a formatação da tag pai! */
}

.grid {
  display: grid;
  gap: 2rem; /*32px/26*/
  /* A prorpiedade display abilita outras propriedades uma delas é o "gap". todo  elemento ao receber a class "grid" abrira um espaço padrão de 2rem  */
}

.section {
  padding: calc(5rem + var(--header-height)) 0; /*80px/16px = 5rem*/
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size); 
}

.section header { /*todo section que tiver header vai ter as seguintes configurações abixo*/
  margin-bottom: 4rem; /*baseado no figma*/
}

.section header p strong { /*todo section que tiver header vai ter as seguintes configurações abixo*/
  color:  var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4; /*Apropriedade adiciona uma borda na parte inferiro*/
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.01);
  background: red;
}

/*==== LOGO =====================================*/

.logo {
  font: 700 1.3125rem var(--title-font); /* 21px/16px = 1.3125rem */
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span{
  color: var(--body-color);
}

/*==== NAVEGATION =====================================*/

#header nav {
  height: var(--header-height); /* 72px/16px = 4.5rem*/
  display: flex; /*O valor flex Exibe o conteudo das Caixas/tags ao do lado da outra para para o user! */
  align-items: center; /*Alinhando as elementos/conteudos inseridos no nav*/
  justify-content: space-between; /*Após a propriedade "display" ser habilitada, é possivel acessar a propriedade  justify-content. o valor "space-between" posiciona o conteudo das caixas nos polos!*/
  width: 100%;
}

nav ul li {
  text-align: center;
  position: relative;
}

nav ul li a {
  transition: color 0.3s;
}

nav ul li a:hover
nav ul li a.active { /*aplica pro mobaile tambem */
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 0.13rem;
  background: var(--base-color);

  position: absolute;
  bottom: -1.5rem;
  left: 0;
  transition: width 0.3s;
}

nav ul li a:hover::after, /*quando passar o mouse das opções de navegação */
nav ul li a.active:after { /*atraves do evento "scroll" para cada seção */
  width: 100%;

}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.3s;
}

nav .menu ul {
  display: none;
} 

/*Mostar Menu*/
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

main {
  margin-top: var(--header-height);
}

/* toggle menu: realiza a troca dos botoes com icones exibindo os itens do menu de navegação! */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;/*quando o usuário colocar o cursor em cima dos botões toggles, ele mudara para uma mão apontando o dedo*/
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.3s;
}

nav.show div.icon-close {
  opacity: 1;
  visibility: visible;
  right: 1.5rem;
  top: 1.5rem;
}

nav.show .menu {
  display: grid; /*para habilitrar novas propriedades uma delas "place-content" e declarar o valaor "center" */
  place-content: center; /*deixando o conteudo no centro!*/
}

nav.show ul.grid {
  /*deixo o cursor do mouse em cima do seletor para ver sua espeficidade nesse caso temos 12 de espeficicdade */
  gap: 4rem; /*Baseada*/
}

/*==== HOME =====================================*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}


#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}
/*==== ABOUT =====================================*/
#about {
  overflow: hidden;
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;/*é nescessaria pra que */
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.25%; /*distancia superior(ds) do elemento about .image::before da imagem. ds/heigthDoElemto = 8.25%*/
  left: -33.04%;/*distancia de deslocamento(dd) para a esquerda do elemento about .image::before da imagem. dd/whidtDoElemento = 33.04%*/
  z-index: 0;
}

#about .image img {
  position: relative;
  right: 2.93rem;
  margin-bottom: 2rem;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*==== CARDS =====================================*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0; /*leftSuperior rightSuperior rightInferior leftInferior */
  text-align: center;
}

.card i {
  display: block;
  font-size: 5rem;
  color: var(--base-color);
  margin-bottom: 1.5rem;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*==== TESTIMONIALS =====================================*/
#testimonials {
  background: white;
  overflow: hidden;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0rem;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative; /*para serervir de referencia para a caixa <span>*/
  text-indent: 1.875rem; /*Para colocar o espaçamento na primeira linha dos paragrafos*/
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span{
  font: 700 3rem serif;
  position: absolute;
  top: -1rem;
  left: -2rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal; 
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover; /*quando a imagem nao se encaixar adequadamento*/
  clip-path: circle(); /*cria uma mascara oara a caixa. nesse caso a <img> esta ficando circular*/
  margin: 0.5rem;
}

/*SWIPER*/

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination {
  position: relative;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color); 
}

/*====  CONTACT ============================ */
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex; /*para deixar os elementos da lista a
                  linhados ao lado do outro*/
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);/*cor dos icons*/
}

/*====  FOOTER ============================ */
footer {
  background: var(--base-color); /*cor de fundo do rodapé*/
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: block ;/*para abilitar outros propriedades 
                    como a "marging-bottom"*/
}

footer .brand p {
  color: var(--text-color-light); /*cor da font do paragrafo*/
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem; /*tamanho do icon*/
  color: var(--text-color-light);/*cor do icon*/
}

footer .social {
  grid-auto-flow: column; /*vai adaptar o grid em forma de columns*/
  width: fit-content; /*esta pegando a largua e adaptando ao formato
                        do conteudo*/
}

footer .social a {
 /*margin-right: 1.5rem;*/
   transition: 0.3s;
   display: inline-block; /*nline-block para habilitar 
                            as propriedades block*/
}

footer .social a:hover {
  transform: translateY(-8px); /*faz com que os icon se movan
                                 na vertial para cima em -8px*/
}

.back-to-top { 
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.2rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0; /* retira a altura de linha*/

  visibility: hidden;
  opacity: 1;

  transition: 0.2s; /*transição de tudo em 0.3s*/
  transform: translateY(100%); /*para realizare um movimento 
                                 na vertical: esconde o botão 
                                 abaixo da pagina*/

}

.back-to-top.show {
  visibility: visible;/*deixa o botão habilitado*/
  opacity: 1; /*deixa o botão visivel*/
  transform: translateY(-2%);/*para realizare um movimento 
                               na vertical: sobe o botão 
                               para cima da pagina*/

}

/*RESPONSIVO*/

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) { /*vai aplicar as auterações quando a 
 tela do dispositivo do usuário possuir a largura minima de 1200px*/ 
  .container{
    max-width: 1120px;
    margin-left: auto; 
    margin-right: auto;
    /*ao deixar as marging left e right com valor "auto" 
      fará com que o conteudo dentro da .container oucupe 
      o restante das margens dos dolados deixando o 
      conteudo centralizado */
  }
  .section {
     padding: 10rem 0;
   }

   .section header,
   #testimonials header {
    max-width: 32rem; /*a largura maxima das <header> são 32rem*/
    text-align: center; /*alinha o conteudo do <header> no centro*/
    margin-left: auto; /*empurra o conteudo da margin esquerda no centro*/
    margin-right: auto;/*empurra o conteudo da margin direota no centro*/
   }

  .button {
     height: 3.125rem;
   }
   /* navegation */
   nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  
  nav .menu ul {
    display: flex; /* deixar a <ul> ao lado da ".logo"*/
  }

  nav .menu ul li a.title{
    font: var(--title-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active{
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  
  nav .icon-menu{
    display: none; /*retirar o icon de amburguer*/
  }

  
  /* layout */
  main {
   margin-top: var(--header-height); /*é devido ao valor "fixed da propriedade no 
    elemento #header que é necessário" para estabeleer a distancia dos elementos  
    "main e #header" a fim de ficar mais proximo do prototipo que se encontra ni figma.*/
  }
  
/* home */

  #home .container {
    grid-auto-flow: column;
    justify-content:  space-between;
    margin: 0 auto;
  }
  #home .image {
    order: 1; /*muda a posição da .image para: posição 1 = 2º lugar*/
  }

  #home .text {
    order: 0; /*muda a posição da .text para: posição 0 = 1º lugar*/
    max-width: 24rem;
    text-align: left;
  }
  
/* about */
  #about .container {
     margin: 0 auto; 
     grid-auto-flow: column; /* faz com que o conteudo sofra adptação 
                                em colunas e fez a rederenzaçao do conteudo*/
  }
/* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr ; 
    /*o card possui o display grid então essa propriedade
     modela com colunms e edita o tamanho dessas colunms*/
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;

  }

/* testimonials */
  #testimonials .container {
    margin-left: auto; 
    margin-right: auto;
    /* vai pegar a margim restante de todos os filhos 
       e vai empurrar de forma que ira centralizar 
       todos os centeudos inseridos na #testimonials .container*/
    overflow: hidden;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column; /*pega o display grid e deixa 
                              fluir como colums automaticas */
    align-items: center; /*alinha os intens ao centro*/
  }

  #contact .text {
    max-width: 25rem; /*largura maxima da  #contact .text*/
  }

/* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column; /*pega o display grid e deixa 
                             fluir como colums automaticas */
    align-items: center; /*alinha os intens ao centro*/

    justify-content: space-between; /*adiciona espaço entre  
                                      os conteudos alinhados*/
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/* large devices: 1023 > */
/* large devices: 992 > */
@media screen and (min-width: 992px) {
  :root {
    --title-font-size: 2.2rem;
    --subtitle-font-size:1.125rem;
  }
}
/* medium devices: 767 > */

